body
{


}
label {
	color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  font-family: Arial;
  
}

table
{
background-color: #000099;
padding: 5px 5px;
}
h2 {
  color: #ffff00;
  font-weight: normal;
  font-size: 40px;
  font-family: Arial;
  text-transform: uppercase;
}
p {
  color: #0000ff;
  font-weight: normal;
  font-size: 20px;
  font-family: Arial;
  text-transform: uppercase;
}