:root { /* CUSTOM PROPERTIES: Valores que podemos reutilizar y si hay un cambio solo loscambiamos acá*/
     --primario: #a1d4c3;
     --primarioOscuro: #58aa8f;
     --secundario: #4288b1;
     --secundarioOscuro: rgb(23, 110, 145);
     --blanco: #FFF;
     --negro: #000;

     --fuentePrincipal: 'Staatliches',  cursive;

}


html {
    box-sizing: border-box;
    font-size: 62.5%; /* Para que 1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* GLOBALES */

/* Body */
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Parrafos */ 

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}


/* Enlaces */

a { /* Para sacar el interlineado de la parte inferior de los enlaces*/
    text-decoration: none;
}

/* Imagenes */

img {
    width: 100%;
}

/* Contenedor */

.contenedor {
    max-width: 120rem;
    margin: 0 auto; /* Para centrar el contenido */
}

/* Los h */
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center; /*Para centrar horizontalmente */
}

.header__logo {
    margin: 3rem 0 3rem 0; /* Hacia arriba y abajo, izq y derecha*/
}

/* FOOTER */

.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer_texto {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}


/* NAVEGACION */

.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0 1rem 0;
    display: flex; /* FLEXBOX: Para elementos dentro de otro contenedor*/
    justify-content: center;
    gap: 2rem; /* FORMA NUEVA: Para separar los 2 elementos de navegación "Nosotros" y "Tienda"*/
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color:var(--blanco);
    font-size: 3rem;
}


.navegacion__enlace:last-of-type{ /* Selecciona el ultimo de los enlaces "Tienda" y "Nosotros" elige "Nosotros"*/
    margin-right: 0; /* FORMA VIEJA: para separar los 2 elementos*/
}

.navegacion__enlace--activo,
.navegacion__enlace:hover { /* Para que cambie de color cuando paso el cursor encima*/
    color: var(--secundario);
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; /*Column-gap y row-gap todo en 1 */
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr); /* Si quiero CENTRAR cotenido lo HAGO CON FLEXBOX, SI VOY A POSICIONAR ELEMENTOs lo HAGO CON GRID*/
    }
}


/* PRODUCTOS */

/* BLOQUE: Productos*/

.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;

}


.producto__nombre {
    font-size: 4rem;

}

.producto__precio {
    font-size: 2.8rem;
    color: rgb(240, 240, 63);
    
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
}

/* GRAFICOS */

.grafico {
    min-height: 30rem;
    background-repeat: no-repeat; /* Para que la imagen al no cuadrar no se repita*/
    background-size: cover; /* Para que la imagen tome todo el espacio disponible*/
    grid-column: 1 / 3;
}

.grafico--camisas {
    grid-row: 2 / 3; /* Row: n° de arriba hacia abajo en la grilla*/
    background-image: url(../img/grafico1.jpg);
}

.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}


/* NOSOTROS */

.nosotros{
    display: grid; /* Nos permite posicionarlo en la grilla*/
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr); /*Creamos 2 columnas */
        column-gap: 2rem;
    }
}

.nosotros__imagen {
    grid-row: 1 / 2; /* Para que al achicar la pantalla se posicione la imagen por debajo del texto */
}

@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}

/* BLOQUES */

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Tenemos que tener 2 columnas */ 
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr); /* Para que en pantalla de escritorio se vean 4 columnas y 2 columnas en cel*/
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0; /* Para quitar el margen entre logo y pie*/
}

/* PAGINA PRODUCTO */
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    /*border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;*/
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none; /* Para quitar la flecha en el input*/

}

.formulario__submit {
    background-color: rgb(240, 240, 63);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}

.formulario__submit:hover{
    cursor: pointer;
    background-color: rgb(201, 201, 51);
}